.Item_view{
    height: 421px;
    width: 286px;
    margin-left: 73px;
    margin-top: 45px;
    background-color:#2E2D2D ;
    cursor: pointer;
}

.Item_Image{
    height: 326px;
    width: 286px;
}

.Price_view{
    display: flex;
    justify-content: space-between;

}
.Item_name{
    color: rgb(218, 217, 217);
    height: 25px;
    max-width: 188px;
    padding-left: 10px;
    margin-top: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.Item_price{
    color: rgb(218, 217, 217);
    padding-left: 10px;
    font-size: 15px;
}

.Add_cart_btn{
    font-family: "Jost";
    height: 30px;
    margin-top: 10px;
    border-radius: 15px;
    border-color: transparent;
    margin-right: 10px;
    background-color:  #F2C2B7;
    
}
.Buy_btn{
    font-family: "Jost";
    height: 30px;
    margin-top: 10px;
    border-radius: 15px;
    margin-right: 10px;
    border-color: transparent;
    background-color:  #BFBFBF;

}

.Item_view:hover{
    transform: scale(1.01);
}

.hov:hover{
    transform: scale(1.05);
}

.Item_name:hover{
    text-decoration: underline;
    cursor: pointer;
    
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }