
.p_Image{
    max-height: 65rem;
    max-width: 65rem;
    min-height: 10rem;
    min-width: 10rem;
    margin-top: 100px;
    object-fit: cover;
    margin-left: 2rem;
}

.indi_p_page{
    display: flex;
    justify-content: space-around;
}

.indin_p_drop_list{
    border-color: transparent;
    background-color: #777777;
    width: 15rem;
}

.indi_p_details{
    margin-top: 8rem;

}

@media only screen and (max-width: 650px) {

  .indi_p_page{
    flex-direction: column;
    justify-content: space-around;
 }
 .p_Image{margin-right: 2rem;}

    .indi_p_details{
        margin-top: 1rem;
        justify-content: space-around;
        font-size: 0.6rem;
        margin-left: 2rem;
    }
  }

.indi_p_price:hover{
    text-decoration: underline;
}