
.p_Image{
    max-height: 35rem;
    max-width: 30rem;
    margin-top: 100px;
    object-fit: cover;
    margin-left: 2rem;
    margin-right: 50px;
}

.indi_p_page{
    display: flex;
    justify-content: space-between;
}

.indin_p_drop_list{
    border-color: transparent;
    background-color: #777777;
    width: 15rem;
}

.indi_p_details{
    margin-top: 8rem;
}

@media only screen and (max-width: 650px) {

  .indi_p_page{
    flex-direction: column;
    justify-content: space-around; }

    .indi_p_details{
        margin-top: 1rem;
        justify-content: space-around;
        font-size: 0.6rem;
        margin-left: 2rem;
    }
  }