@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

body{
  background-color: #858585;
  margin: 0;
  font-family:'Jost' ;
}



.Item-types{
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 43px;
  color: #FFFFFF;
  padding-left: 32px;
  padding-top: 55px;
}

.Item-container{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
  padding-bottom: 20px;
  cursor: pointer;
}

